{% extends 'base.html' %}

{%  block content %}

{% load cart %}



<div class="container-fluid mt-3">
  <div class="row"> 
    <!-- filter -->

    <div class="col-lg-3 mx-auto">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">All Products</a>
        {% for category in categories %}
        <a href="/?category={{ category.id }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>



    <!-- all products -->
    <div id="products" class="col-lg-9 mx-auto">
      <div class="row mx-auto ">
        {% for product in products %}
        <div class="card mx-auto mb-3" id="{{ product.id }}" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="Card image">
            <div class="card-body">
                <p class="card-title">{{ product.name }}</p>
                <p class="card-text">{{ product.price }}</p>
                
                
            </div>
            <div class="card-footer p-0 no-gutters">
              {% if product|is_in_cart:request.session.cart %}
              <div class="row no-gutters">
                <form action="/#{{ product.id }}" method="post" class="col-2">
                  {% csrf_token %}
                  <input type="text" value="{{ product.id}}" name="product" hidden>
                  <input type="text" value="True" name="remove" hidden>
                  <input type="submit" value=" - " class="btn btn-block btn-primary">
                </form>
                <div class="text-center col">{{ product|cart_quantity:request.session.cart }} in cart</div>
                <form action="/#{{ product.id }}" method="post" class="col-2">
                  {% csrf_token %}
                  <input type="text" value="{{ product.id}}" name="product" hidden>
                  <input type="submit" value=" + " class="btn btn-block btn-primary">
                </form>
              </div>
              {% else %}
              <form action="/#{{ product.id }}" method="post" class="btn-block">
                {% csrf_token %}
                <input type="text" value="{{ product.id}}" name="product" hidden>
                <input type="submit" class="btn btn-primary border form-control" value="Add to Cart" >
              </form>
              {% endif %}
            </div>
            
              

             
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

</div>



{% endblock %}